<mat-toolbar class="row space-between">
    <div id="content" class="row center align-center">
        <img src="assets/svg/logo.svg" alt="Logo" style="height: 36px; padding-right: 36px;">
        <header-button label="Produit" path=""></header-button>
        <header-button label="Thales" path=""></header-button>
        <header-button label="Profil" path=""></header-button>
        <header-button label="Documentation" path=""></header-button>
    </div>



    <header-language-menu></header-language-menu>







</mat-toolbar>